/** Add css rules here for your application. */
body {
	margin: 0 !important;
}

.myLabel {
	font-size: 16pt;
	color: red;
}

.title {
	font-size: 50px;
	font-weight: bold;
	color: orange;
	margin: 40px 0px 70px;
	text-align: center;
	border: 2px solid orange;
}

.centralPanel {
	width: 40%;
	height: 550px;
	display: flex;
	justify-content: center;
	align-content: center; 
	border: 2px solid orange;
}

.ask {
	font-size: 40px;
}

.optionsPanel {
	width: 60%;
	justify-content: center;
	align-content: center; 
	height: 100px;
}
.imagePanel{
	border: 2px solid orange;
	font-size: 20px;
	width: 20%;
}
.subtitle {
	font-size: 2em;
	color: #D92D11;
	margin-top: 15%;
}

.canvas {
	border: 2px solid orange;
	width: 1100px;
	height: 900px;
}

.gwt-TabPanel {
	width: 100%;
	height: auto;
}
/*------------------------------------------------------------------------------------------------------*/
.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}